{% extends 'base.html' %}

    <!-- 이 html에 추가되는 CSS -->
    {% block css %}
    <style>
        /* 현재 카테고리 설명하는 부분 */
        .container{
            width:30%;
            
            margin:10px auto;
            
            display: flex;
            flex-direction:column;
            justify-content: center;
            text-align: center;
            box-sizing: border-box;
            
            
        }
        .currentCategory{
            margin-top: 0;
            color:#726C7B;
            text-align: center;
            font-size:45px;
           
        }
        /*아이디랑 비번 입력창*/
        .id_area{
            margin:0;
            color:#BEB5D3;
            color:#EFECF4;
        }
        .id_area input{
            height:63px;
            width: 100%;
            padding:5px 25px;
            border: 2px solid #a9a1bd; 
            border-radius: 10px;
            font:21px solid;
            color:#726C7B;
            background-color:#EFECF4;
        }
        /* 로그인 상태 유지*/

        /*로그인 클릭 버튼*/
        .log_login {
            width:100%;
            height:63px; 
            font-size: 21px;
            color:white;
            padding: 3px 10px 2px;
            background-color: #BEB5D3;
            border: 2px solid #BEB5D3;
            border-radius: 10px;
            }
        .log_login:hover{
            font-weight: bold; 
            color:#BEB5D3; 
            background-color: white;
        }
        
        /* 회원가입, 아이디 찾기, 비번 찾기*/
        .join_find_info{
            text-align: center;
            display:flex;
            float:none;
            justify-content: center;
            
        }
        .join_find_info a{
            text-decoration: none;
            color: #726C7B;
            size:21px;
        }
        /* footer 아래 고정 */
        html,body{
            height: 100%;
        }
        body{
            display:flex;
            flex-direction: column;
        }
        footer{
            flex-shrink: 0;
        }
        .container{
            flex: 1;
        }
    </style>
    {% endblock %}

    <!--본문 내용-->
    {% block content %}
    <div class="container">
        <div class="currentCategory">
            <h1><br>로그인</h1><br>
        </div>
        <br>
        <form action="{%url 'login'%}" method="POST">
            {%csrf_token%}
            {{form.as_p}}

            
            <!--로그인 클릭 버튼-->
            <button type="submit" class="log_login">로그인</button>
        </form>
        
        <br>
        <!--회원가입, 아이디 찾기, 비밀번호 찾기 페이지 연결-->
        <div class= "position_a">
            <div class="join_find_info">
                <a id="join" href="{% url 'signUp' %}" class="join">회원가입</a>
                <!-- <span class="bar" aria-hidden="true">/</span>
                <a id="idinquiry" href="{% url 'idFind' %}">아이디 찾기</a>
                <span class="bar" aria-hidden="true">/</span>
                <a id="pwinquiry" href="{% url 'pwFind' %}">비밀번호 찾기</a> 
                 -->
                
            </div>
        </div>
        

    </div>
    {% endblock %}