{% extends 'base.html' %}

    <!-- 이 html에 추가되는 CSS -->
    {% block css %}
    <style>        
    
        /* 현재 카테고리 설명하는 부분 */
        .currentCategory{
            margin: 30px;
            color:#BEB5D3;
            text-align: center;
        }
    
        .registerLetter{
            position: relative;
            background-color: #FAF8F8;
            padding: 50px 70px 80px 70px ;
            width: 80%;
            margin: 10%;
            top: -50px;
        }
        .registerLetter input{
            font-size: 13px;
            width: 250px; height: 35px;
            border: 3px solid #a19da7;
            border-radius: 5px;
        }
        
        .nameBox label{
            font-size: 45px;
            font-weight: bold;
            color:#726C7B;
            margin-right: 10px;
        }
        .nameBox input{position: absolute; margin-top: 20px;}
        .infoBox{ margin: 50px 83px; color:#726C7B;}
        .infoBox label{
            font-size: 15px; 
            font-weight: 800;
            margin-bottom: 10px;
        }
        #att_zone{
            position: relative;
            width: 100%;
            min-height:150px;
            padding:10px;
            border: 3px solid #a19da7;
            border-radius: 5px;
            background-color: white;
        }
        #att_zone label{
            position: absolute;
            right: 15px;
            font-size: 25px;
        }
        #att_zone:empty:before{
            content : attr(data-placeholder);
            color : #999;
            font-size:.9em;
        }

        .registerLetter textarea{
            font-size: 13px;
            width: 100%; height: 200px;
            border: 3px solid #a19da7;
            border-radius: 5px;
        }
        
        .from{
            display: flex;
            justify-content: flex-end;
            font-size: 40px;
            font-weight: bold;
            color:#726C7B;
        }
        
        .submitBtn{
            display: flex;
            justify-content: flex-end;
            margin-top: 15px;
        }
        .submitBtn button{
            border: 3px solid #BEB5D3;
            border-radius: 6px;
            color: rgb(156, 145, 173);
            font-weight: bold;
            background-color: rgba(0,0,0,0);
        }
        .submitBtn button:hover{
            background-color: #BEB5D3;
            color: white;
        }

    </style>


    {% endblock %}
    <!--본문 내용-->
    {% block content %}

        <div class="container">
            <div class="currentCategory">
                <h1>"<br>수고했어</h1><br>
                <h6> 마약탐지견, 경찰견, 시각장애인안내견 등 수고한 동물들을 추모하는 공간입니다.</h6>
            </div>
            <br>


            <div class="registerLetter">
              <form action="{% url 'honorRegister2' %}" method="post" enctype="multipart/form-data">
                  <!--Csrf 공격을 막기 위해 반드시 처음에 사용-->
                  {%csrf_token%}

                  <div class="nameBox">
                      <label for="animalName">To. </label>
                      <input type="text" id="animalName" name="animalName" placeholder="이름을 적어주세요">
                  </div>
                  
                  <div class="infoBox">
                      <label for="animalType">어떤 동물인가요?</label>
                      <br>
                      <input type="text" id="animalType" name="animalType" placeholder="직접 입력해주세요" list="fruits" />
                      <datalist id="fruits">
                      <option value="강아지"></option>
                      <option value="고양이"></option>
                      <option value="새"></option>
                      <option value="토끼"></option>
                      <option value="물고기"></option>
                      <option value="햄스터"></option>
                      </datalist>
                  </div>

                  <div class="infoBox">
                      <label for="animalSubType">자세한 종류를 알려주세요</label>
                      <br>
                      <input type="text" id="animalSubType" name="animalSubType" placeholder="직접 입력해주세요"/>
                  </div>

                  <div class="infoBox">
                      <label for="animalBirthDay">너가 태어난 날을 기억할게</label>
                      <br>
                      생년월일: <input type="text" class="animalDay" id="animalBirthDay" name="animalBirthDay">
                          
                  </div>


                  <div class="infoBox">
                      <label for="animalMemorialDay">무지개 다리를 건넌 날</label>
                      <br>
                            
                      <p>날짜: <input type="text" class="animalDay" id="animalMemorialDay" name="animalMemorialDay">                          
                  </div>
                    
                  
                  <div class="infoBox">
                      <label for ="animalImg">너의 모습을 기억할게</label>
                      <br>
                      <div id='img_preview'>
                          <input type='file' id='animalImg' name="animalImg" style="display: none;"/>
                          <div id='att_zone' data-placeholder='파일을 첨부 하려면 파일 선택 버튼을 클릭하거나 파일을 드래그앤드롭 하세요'>
                              <label for="animalImg">+</label>
                          </div>
                      </div>
                  </div>

                  <div class="infoBox">
                      <label for="animalInfo">반려동물을 소개해주세요</label>
                      <br>
                      <textarea id="animalInfo", name="animalInfo"></textarea>
                  </div>
                     
                  <div class="from">
                      <span>From. 닉네임</span>
                  </div>
                  
                  <div class="submitBtn">
                      <button type="submit">다음장으로</button>
                  </div>
              </form>
            </div>

        </div>
        
        <!--이미지 업로드 스크립트 -->
        <script>
            ( /* att_zone : 이미지들이 들어갈 위치 id, btn : file tag id */
              imageView = function imageView(att_zone, btn){
            
                var attZone = document.getElementById(att_zone);
                var img_upload = document.getElementById(btn)
                var sel_files = [];
                
                // 이미지와 체크 박스를 감싸고 있는 div 속성
                var div_style = 'display:inline-block;position:relative;'
                              + 'width:150px;height:120px;margin:5px;border:1px solid #00f;z-index:1';
                // 미리보기 이미지 속성
                var img_style = 'width:100%;height:100%;z-index:none';
                // 이미지안에 표시되는 체크박스의 속성
                var chk_style = 'width:30px;height:30px;position:absolute;font-size:24px;'
                              + 'right:0px;bottom:0px;z-index:999;background-color:rgba(255,255,255,0.1);color:#f00';
              
                img_upload.onchange = function(e){
                  var files = e.target.files;
                  var fileArr = Array.prototype.slice.call(files)
                  for(f of fileArr){
                    imageLoader(f);
                  }
                }  
                
              
                // 탐색기에서 드래그앤 드롭 사용
                attZone.addEventListener('dragenter', function(e){
                  e.preventDefault();
                  e.stopPropagation();
                }, false)
                
                attZone.addEventListener('dragover', function(e){
                  e.preventDefault();
                  e.stopPropagation();
                  
                }, false)
              
                attZone.addEventListener('drop', function(e){
                  var files = {};
                  e.preventDefault();
                  e.stopPropagation();
                  var dt = e.dataTransfer;
                  files = dt.files;
                  for(f of files){
                    imageLoader(f);
                  }
                  
                }, false)
                
            
                
                /*첨부된 이미리즐을 배열에 넣고 미리보기 */
                imageLoader = function(file){
                  sel_files.push(file);
                  var reader = new FileReader();
                  reader.onload = function(ee){
                    let img = document.createElement('img')
                    img.setAttribute('style', img_style)
                    img.src = ee.target.result;
                    attZone.appendChild(makeDiv(img, file));
                  }
                  
                  reader.readAsDataURL(file);
                }
                
                /*첨부된 파일이 있는 경우 checkbox와 함께 attZone에 추가할 div를 만들어 반환 */
                makeDiv = function(img, file){
                  var div = document.createElement('div')
                  div.setAttribute('style', div_style)
                  
                  var btn = document.createElement('input')
                  btn.setAttribute('type', 'button')
                  btn.setAttribute('value', 'x')
                  btn.setAttribute('delFile', file.name);
                  btn.setAttribute('style', chk_style);
                  btn.onclick = function(ev){
                    var ele = ev.srcElement;
                    var delFile = ele.getAttribute('delFile');
                    for(var i=0 ;i<sel_files.length; i++){
                      if(delFile== sel_files[i].name){
                        sel_files.splice(i, 1);      
                      }
                    }
                    
                    dt = new DataTransfer();
                    for(f in sel_files) {
                      var file = sel_files[f];
                      dt.items.add(file);
                    }
                    img_upload.files = dt.files;
                    var p = ele.parentNode;
                    attZone.removeChild(p)
                  }
                  div.appendChild(img)
                  div.appendChild(btn)
                  return div
                }
              }
            )('att_zone', 'imgUpload')
            
        </script>

    {% endblock %}